<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/createVote.css" />
  </head>
  <body>
    <div>
      <form id="create-form" action="/votings/new" onsubmit="return validate()" method="post">
        <div class="title-container">
          <input
            class="title",
            type="text",
            name="title",
            placeholder="제목을 입력하세요",
          />
        </div>
        <div class="option-container">
          <input
            class="option",
            type="text",
            name="option",
            placeholder="선택지 내용을 입력하세요",
          />
        </div>
        <div class="option-container">
          <input
            class="option"
            type="text",
            name="option",
            placeholder="선택지 내용을 입력하세요",
          />
        </div>
        <div class="bottom-form-container">
          <input 
            type="datetime-local",
            name="expiredTime",
          />
          <button type="submit" form="create-form">확인</button>
        </div>
      </form>
      <div class="option-couter-btn">
        <button onclick="addOption()">옵션 추가</button>
        <button onclick="removeOption()">옵션 삭제</button>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function addOption() {
      const form = document.getElementById("create-form");
      const div = document.createElement("div");

      div.className = "option-container";
      div.innerHTML = "<input class='option' type='text' name='option' placeholder='선택지 내용을 입력하세요' />";      

      form.insertBefore(div, form.getElementsByTagName("div")[form.getElementsByTagName("div").length - 3]);
    }

    function removeOption() {
      const form = document.getElementById("create-form");
      form.getElementsByTagName("div").length === 4 ? alert("선택지는 최소 2개 필요합니다") : form.removeChild(form.getElementsByTagName("div")[form.getElementsByTagName("div").length - 3]);
    }

    function validate() {
      const options = document.getElementsByClassName("option");
      const expiredTime = new Date(document.getElementsByName("expiredTime")[0].value);
      const currentTime = new Date();
      
      if (currentTime.getTime() > expiredTime.getTime()) {
        alert("만료 시간을 올바르게 설정해주세요");
        return false;
      }
      
      for (const option of options) {
        if (option.value === "") {
          alert("선택지 내용을 입력하세요");
          return false;
        }
      }

      return true;
    }
  </script>
</html>
