<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>메인 페이지</h1>
    <% for (const vote of votes) { %>
      <div>
        <div><%= vote.title %></div>
      </div>
    <% } %>
  </body>
</html>
