<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
  </head>
  <body>
    <header>
      <div class="left">
        <a href="/">투표목록</a>
      </div>
      <div class="clear"></div>
      <div class="line">
        <hr />
      </div>
    </header>
    <div class="container">
      <% if (createdVotes.length === 0) { %>
        <div>아직 등록한 투표가 없습니다</div>
      <% } %>
      <% for (const vote of createdVotes) { %>
        <div class="content" onclick="location.href='/votings/<%= vote._id %>'">
          <h1><%= vote.title %></h1>
          <p>투표 마감시간 : <%= vote.expiredTime %></p>
          <p><%= vote.isExpired %></p>
        </div>    
      <% } %>
    </div>
  </body>
</html>
