<!DOCTYPE html>
<html>
  <head></head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <body>
    <div class="vote_outline">
      <% if (createdVotes.length === 0) { %>
        <div>아직 등록한 투표가 없습니다</div>
      <% } %>
      <% for (const vote of createdVotes) { %>
        <div class="voteInfo" onclick="location.href='/votings/<%= vote._id %>'">
          <p>제목 : <%= vote.title %></p>
          <p>투표 만료시간 : <%= vote.expiredTime %></p>
          <p><%= vote.isExpired %></p>
        </div>    
      <% } %>
    </div>
    <div>
      <button onclick="location.href='/'">투표목록</button>
    </div>
  </body>
</html>
