body {
  background-color: #f7fafa;
  display: flex;
  justify-content: center;
}

.option_outline {
  width: 30vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  border: 1px solid lightgray;
  margin-bottom: 2vh;
  background-color: white;
}

.date_outline {
  text-align: center;
  margin-bottom: 2vh;
}

.submit_outline {
  text-align: center;
  margin-bottom: 2vh;
}

.option {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
}

input:focus { border-bottom: 2px solid green; outline: none; }
