body {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

input {
  border: none;
  text-align: center;
  font-size: 18px;
}

input:focus {
  border-bottom: 2px solid #00B7FF;
  outline: none; 
}

.title-container {
  width: 30vw;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 5vh;
}

.option-container {
  width: 30vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 2vh;
}

.bottom-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.bottom-form-container:nth-child(1) {
  margin-bottom: 20px;
}

.option-couter-btn {
  width: 30vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 2vh;
}

button {
  width: 5vw;
  border: 1px solid lightgray; 
  background-color: white;
}

button:hover {
  color: #00B7FF;
}
