body {
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30vw);
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content : center;
  width: 30vw;
  height: 30vh;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: calc(5vw - 40px);
}

.content:hover {
  box-shadow: 3px 3px 10px 1px #dadce0;
}

.expired-text {
  color: red;
}

.ongoing-text {
  color: green;
}
