body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.voteInfo {
  width: 50vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  border: 1px solid black;
}
