body {
  padding: 30px;
}

a {
  color: #00B7FF;
}

.vote_outline {
  display: flex;
  flex-wrap: wrap;
}

.voteInfo {
  width: 30vw;
  height: 30vh;
  text-align: center;
  border: 1px solid black;
  margin-right: 15px;
  margin-bottom: 15px;
}

.voteInfo:hover {
  background-color: lightsalmon;
}
